DATABASE_URL=postgresql://neondb_owner:npg_8hmZxkIMES3Q@ep-crimson-bonus-b492846b-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AUTH_SECRET=naqi-wear-secret-rahasia-toko